<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>彩彩看-登陆</title>
</head>
<body style="padding-top: 70px;">

	<!-- BEGIN HEADER -->
	<div th:include="common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="#">Login</a></li>
		</ol>
	
		<div class="row">
			<div class="col-xs-8">
				<h1 th:text="${words}" text="aaa"></h1>
				<h2 th:text="${words}" text="aaa"></h2>
				<h3 th:text="${words}" text="aaa"></h3>
				<h4 th:text="${words}" text="aaa"></h4>
				<h5 th:text="${words}" text="aaa"></h5>
				<h6 th:text="${words}" text="aaa"></h6>
				<h7 th:text="${words}" text="aaa"></h7>
			</div>
			<div class="col-xs-4">
				<form action="">
					<div class="input-group">
						<input class="form-control" name="username" type="text" /><br/>
						<input class="form-control" name="password" type="text" /><br/>
						<input class="form-control" name="checkcode" type="text" /><br/>
						<input type="button" value="登陸" />
						<input type="button" value="註冊"  />
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- BEGIN CSS_JS -->
	<div th:include="common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
</body>
</html>