<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="common/meta :: meta" th:remove="tag"></div>
	<title>彩彩看-登陆</title>
</head>
<body>

	<!-- BEGIN HEADER -->
	<div th:include="common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/register">Register</a></li>
		</ol>

		<div class="row">
			<div class="col-xs-7">
				<h1 th:text="${words}" text="aaa"></h1>
				<h2 th:text="${words}" text="aaa"></h2>
				<h3 th:text="${words}" text="aaa"></h3>
				<h4 th:text="${words}" text="aaa"></h4>
				<h5 th:text="${words}" text="aaa"></h5>
				<h6 th:text="${words}" text="aaa"></h6>
				<h7 th:text="${words}" text="aaa"></h7>
			</div>
			<div class="col-xs-4">
				<form action="" class="form-horizontal form-login">
					<div class="form-group">
						<div class="input-group col-lg-10">
							<label for="username" class="">用户名：</label> <span
								class="input-group-addon"> <i
								class="glyphicon glyphicon-user"></i>
							</span> <input class="form-control" name="username" type="text" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group col-lg-10">
							<label for="password" class="">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
							<span class="input-group-addon"> <i
								class="glyphicon glyphicon-lock"></i>
							</span> <input class="form-control" name="password" type="text" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group col-lg-10">
							<label for="checkcode" class="col-lg-2">验证码：</label> <span
								class="input-group-addon"> <i
								class="glyphicon glyphicon-user"></i>
							</span> <input class="col-lg-8" name="checkcode" type="text" />
							<button class="col-lg-4">SVJFSGH</button>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group col-lg-10">
							<button class="col-lg-4 btn btn-default" type="button">登录</button>
							<a class="col-lg-4" href="">忘记密码？</a>
							<button class="col-lg-4 btn btn-default" type="button">注册</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- BEGIN CSS_JS -->
	<div th:include="common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
</body>
</html>