<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="/common/meta :: meta" th:remove="tag"></div>
	<title>彩彩看-规则</title>
</head>
<body>

	<!-- BEGIN HEADER -->
	<div th:include="/common/header :: header" th:remove="tag"></div>
	<!-- END HEADER -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/admin/rule">rule</a></li>
		</ol>
		<div id="rule_console">
			<button role="button" class="btn" data-toggle="modal" data-target="#modal-clone">clone</button>
			<button class="btn" onclick="">delete</button>
		</div>
		<table th:if="${not #lists.isEmpty(rules)}" class="table table-bordered table-hover">
			<thead>
				<tr>
					<td>ID</td>
					<td>彩种</td>
					<td>规则类型</td>
					<td>最近期数</td>
					<td>规则名称</td>
					<td>基本规则和权值</td>
					<td>状态</td>
					<td>执行状态</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${rules}" onclick="clone(this);">
					<td th:utext="${item.id}"></td>
					<td th:utext="${item.lotteryType}"></td>
					<td th:utext="${item.ruleType}"></td>
					<td th:utext="${item.terms}"></td>
					<td th:utext="${item.ruleName}"></td>
					<td th:utext="${item.ruleAndweights}"></td>
					<td th:utext="${item.status}"></td>
					<td th:utext="${item.executeStatus}"></td>
				</tr>
			</tbody>
		</table>
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="modal-clone" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="modalLabel">
							新增规则
						</h4>
					</div>
					<div class="modal-body container-fluid">
						<form id="edit-form">
							<table id="modal_body" class="table table-bordered">
								<tr id="id_row">
									<td>ID:</td>
									<td><input name="id" /></td>
								</tr>
								<tr>
									<td>彩种:</td>
									<td><input name="lotteryType" readonly="readonly" value="ssq" /></td>
								</tr>
								<tr>
									<td>规则类型:</td>
									<td><select name="ruleType">
										<option value="DISPLAY_TIMES">DISPLAY_TIMES</option>
										<option value="SKIP_TIMES">SKIP_TIMES</option>
										<option value="DOUBLE_TIMES">DOUBLE_TIMES</option>
										<option value="MULTI">MULTI</option>
									</select></td>
								</tr>
								<tr>
									<td>最近期数:</td>
									<td><input name="terms" /></td>
								</tr>
								<tr>
									<td>规则名称:</td>
									<td><input name="ruleName" /></td>
								</tr>
								<tr>
									<td>基本规则和权值:</td>
									<td><textarea name="ruleAndweights" rows="5">
										{"DISPLAY_TIMES":0,"SKIP_TIMES":0,"DOUBLE_TIMES":0}
									</textarea></td>
								</tr>
								<tr>
									<td>状态:</td>
									<td><input name="status" /></td>
								</tr>
								<tr>
									<td>执行状态:</td>
									<td><input name="executeStatus" value="SUCCESS" type="hidden" />SUCCESS</td>
								</tr>
							</table>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-primary" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" onclick="save_rule();">提交更改</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	</div>

	<!-- BEGIN CSS_JS -->
	<div th:include="/common/css_js :: css_js" th:remove="tag"></div>
	<!-- END CSS_JS -->
	<div th:include="/common/footer :: footer" th:remove="tag"></div>
	
	<script type="text/javascript">
	/*<![CDATA[*/
		function clone(elem){
			var trs = $(elem).parent().children();
			for (var i = 0; i < trs.length; i++) {
				$(trs.get(i)).removeAttr("class");
			}
			$(elem).attr("class","active");
			var tds = $(elem).children();
			$("input[name='id']").val($(tds.get(0)).html());
			//$("input[name='lotteryType']").val($(tds.get(1)).html());
			$("select[name='ruleType']").val($(tds.get(2)).html());
			$("input[name='terms']").val($(tds.get(3)).html());
			$("input[name='ruleName']").val($(tds.get(4)).html());
			$("textarea[name='ruleAndweights']").val($(tds.get(5)).html());
			$("input[name='status']").val($(tds.get(6)).html());
			//$("input[name='executeStatus']").val($(tds.get(0)).html());
			/* var content = '<tr id="id_row">'
				+'<td>ID:</td>'
				+'<td><input name="id" value="'+$(tds.get(0)).html()+'" /></td>'
				+'</tr><tr>'
				+'<td>彩种:</td>'
				+'<td><input name="lotteryType" value="'+$(tds.get(1)).html()+'" type="hidden" />'+$(tds.get(1)).html()+'</td>'
				+'</tr><tr>'
				+'<td>规则类型:</td>'
				+'<td><input name="ruleType" value="'+$(tds.get(2)).html()+'" />'
				+'<select name="ruleType" value="'+$(tds.get(2)).html()+'" />'
				+'</select></td>'
				+'</tr><tr>'
				+'<td>最近期数:</td>'
				+'<td><input name="terms" value="'+$(tds.get(3)).html()+'" /></td>'
				+'</tr><tr>'
				+'<td>规则名称:</td>'
				+'<td><input name="ruleName" value="'+$(tds.get(4)).html()+'" /></td>'
				+'</tr><tr>'
				+'<td>基本规则和权值:</td>'
				+'<td><textarea name="ruleAndweights" value="'+$(tds.get(5)).html()+'" /></td>'
				+'</tr><tr>'
				+'<td>状态:</td>'
				+'<td><input name="status" value="'+$(tds.get(6)).html()+'" /></td>'
				+'</tr><tr>'
				+'<td>执行状态:</td>'
				+'<td><input name="executeStatus" value="SUCCESS" type="hidden" />SUCCESS</td>'
				+'</tr>'; */
			//$("#modal_body").html(content);
		}

		function save_rule(){
			var form = $("#edit-form").serialize();
			general_ajax("/admin/save_rule", "post", form, null, function(result){
				if (get_type(result) == "[object String]") {
					result = json_parse(result);
				}
				if (result.status==200) {
					window.parent.location.href = window.parent.location.href;
				}else{
					alert(result.message);
				}
			}, null, null);
		}
	/*]]>*/
	</script>
</body>
</html>